.header {
    margin-bottom: 14px;
    min-height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .header__img {
    margin-left: 55px;
  }
  
  .header__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .header__menu {
    margin-right: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .header__menu-item {
    text-decoration: none;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #222;
    margin-right: 93px;
  }
  
  .header__menu-item:hover {
    color: #F55D48;
  }
  
  .header__menu-item:last-child {
    margin-right: 0px;
  }
  
  .header__button {
    min-width: 141px;
    background-color: #F55D48;
    color: #fff;
    min-height: 100%;
    border: none;
    min-height: 100%;
  }
  
  .header__button-span {
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
  }
  
  .introduction {
    margin-bottom: 50px;
  }
  
  .introduction__container {
    max-width: 80%;
    margin: 0 auto;
    color: #574B4B;
  }
  
  .introduction__title {
    font-family: Coda;
    font-size: 140px;
    font-weight: 400;
    line-height: 182px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .introduction__subtitle {
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 466px;
    margin-bottom: 37px;
  }
  .introduction__img{
      width: 100%;
  }
  .new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .new_text {
    font-size: 63px;
    color: #574B4B;
    font-family: "Coda", cursive;
  }
  
  .new_txt {
    color: #574B4B;
    font-family: Work Sans;
    font-size: 15px;
    margin-left: 12%;
  }
  
  .new_img {
    margin-top: 2px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .new__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .new__slider {
    height: 140px;
    width: 140px;
    border-radius: 140px;
    background: #F55D48;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .new__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .new_pict {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 650px;
    height: 532px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 85%;
  }
  
  .new__pict img {
    width: 600px;
    height: 532px;
  }
  
  .new_txt3 {
    color: #574B4B;
    font-family: Work Sans;
    font-size: 14px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 4%;
    max-width: 80%;
    margin-bottom: 78px;
  }
  
  .new_pic {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }