.header {
  margin-bottom: 14px;
  min-height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  margin-left: 55px;
}

.header__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  margin-right: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  text-decoration: none;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #222;
  margin-right: 93px;
}

.header__menu-item:hover {
  color: #F55D48;
}

.header__menu-item:last-child {
  margin-right: 0px;
}

.header__button {
  min-width: 141px;
  background-color: #F55D48;
  color: #fff;
  min-height: 100%;
  border: none;
  min-height: 100%;
}

.header__button-span {
  font-family: Work Sans;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}

._container {
  max-width: 80%;
  margin: 0 auto;
  color: #574B4B;
}

.introduction {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction__container {
  max-width: 80%;
  margin: 0 auto;
  color: #574B4B;
}

.introduction__title {
  font-family: Coda;
  font-size: 140px;
  font-weight: 400;
  line-height: 182px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
}

.introduction__subtitle {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 466px;
  margin-bottom: 37px;
}

.introduction__img {
  margin: 0 auto;
}

.new {
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new_text {
  font-size: 63px;
  color: #574B4B;
  font-family: "Coda", cursive;
}

.new_txt {
  color: #574B4B;
  font-family: Work Sans;
  font-size: 15px;
  margin-left: 12%;
}

.new_img {
  margin-top: 2px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.new__top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new__slider {
  height: 140px;
  width: 140px;
  border-radius: 140px;
  background: #F55D48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}

.new_pict {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 650px;
  height: 532px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 85%;
}

.new__pict img {
  width: 600px;
  height: 532px;
}

.new_txt3 {
  color: #574B4B;
  font-family: Work Sans;
  font-size: 14px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  margin-top: 4%;
  max-width: 80%;
  margin-bottom: 78px;
}

.new_pic {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.lights {
  margin-bottom: 90.62px;
}

.lights__container {
  max-width: 80%;
  margin: 0 auto;
}

.lights__title {
  margin-bottom: 104px;
  font-family: Coda;
  font-size: 63px;
  font-weight: 400;
  line-height: 83px;
  color: #574B4B;
}

.lights__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lights__column {
  border: 1px solid #574B4B;
  border-left: none;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}

.lights__column-container {
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lights__column-numbers {
  margin-bottom: 26px;
  font-family: Coda;
  font-size: 31px;
  font-weight: 400;
  line-height: 42px;
  color: #574B4B;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.lights__column-img {
  margin-bottom: 40px;
  border-top: 1px solid #DBD9D9;
  border-bottom: 1px solid #DBD9D9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.lights__column-discription {
  text-align: right;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: #574B4B;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  max-width: 244px;
}

.new_pic {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.projects {
  margin-bottom: 93px;
  color: #574B4B;
}

.projects__title {
  margin-bottom: 100.4px;
  font-family: Coda;
  font-size: 63px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
}

.projects__content {
  border-bottom: 1px solid #574B4B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__inner {
  max-width: 100%;
  margin-right: 16px;
}

.projects__inner-container {
  max-width: 99%;
  border-top: 1px solid #574B4B;
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__text {
  min-width: 280px;
  padding-top: 27px;
  margin-right: 66px;
}

.projects__titles-title {
  margin-bottom: 46px;
  font-family: Coda;
  font-size: 31px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.projects__titles-subtitle {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.projects__arrow {
  position: relative;
  top: 327px;
  width: 64px;
  height: 64px;
}

.projects__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__outer-arrow:last-child {
  width: 64px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  height: 64px;
}

.office {
  margin-bottom: 93px;
}

.office__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.office__title {
  margin-bottom: 104px;
  font-family: Coda;
  font-size: 63px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
}

.office__inner {
  border-top: 1px solid #574B4B;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.office__inner-content {
  border-bottom: 1px solid #574B4B;
  max-width: 1200px;
  margin-right: -50px;
  margin-left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.office__arrow-l {
  padding-right: 50px;
  width: 64px;
  height: 64px;
}

.office__arrow-r {
  padding-left: 50px;
  width: 64px;
  height: 64px;
}

.together__contaier {
  max-width: 90%;
}

.together__title {
  padding-left: 30px;
  margin-bottom: 100px;
  font-family: Coda;
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
}

.together__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #574B4B;
  border-bottom: 1px solid #574B4B;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 90%;
}

.together__inner {
  padding: 30px 0px;
  margin-right: 276px;
}

.together__p {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 670px;
}

.together__img {
  padding: 63px 0px;
}

.together__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 140px;
  background: #F55D48;
  border-radius: 50%;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 95%;
}

.footer__mail {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  max-width: 306px;
  background: #574B4B;
  margin-right: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 247px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 247px;
}

.footer__img {
  padding-left: 24px;
}
.footer__img img {
  width: 31px;
  padding-right: 24px;
  height: 50px;
}

.footer__mail-content {
  padding-left: 24px;
  border: 1px solid #DBD9D9;
  padding-right: 24px;
}

.footer__mail-title {
  padding-top: 18px;
  margin-bottom: 11px;
  font-family: Coda;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
}

.footer__mail-mail {
  padding-bottom: 23px;
  font-family: Work Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
}

.footer__simple {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__simple-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border-right: 1px solid #DBD9D9;
  border-left: 1px solid #DBD9D9;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 111px 121px;
}

.footer__simple-column-items {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer__simple-column-item:first-child {
  margin-bottom: 60px;
}