.header{
  margin-bottom: 14px;
	min-height: 81px;
	display: flex;
	justify-content: space-between;
}

.header__img{
	margin-left: 55px;
}

.header__content{
	align-items: center;
	min-height: 100%;
	
	display: flex;
	justify-content: space-between;
}

.header__menu{
	margin-right: 38px;
	display: flex;
}

.header__menu-item{
	text-decoration: none;
	font-family: Work Sans;
font-size: 14px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #222;
margin-right: 93px;
}
.header__menu-item:hover{
	color: #F55D48;
}
.header__menu-item:last-child{
	margin-right: 0px;
}

.header__button{
	min-width: 141px;
	background-color: #F55D48;
	color: #fff;
	min-height: 100%;
	border: none;
	min-height: 100%;
}

.header__button-span{
	font-family: Work Sans;
font-size: 13px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;

}

._container{
	max-width: 80%;
	margin: 0 auto;
	color: #574B4B;
}


.introduction {
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;  	
}
.introduction__container {
	max-width: 80%;
	margin: 0 auto;
	color: #574B4B;
}
.introduction__title {

	font-family: Coda;
font-size: 140px;
font-weight: 400;
line-height: 182px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 30px;
}
.introduction__subtitle {
	font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
max-width: 466px;
margin-bottom: 37px;
}
.introduction__img {
	margin: 0 auto;
}

.new{
	padding-bottom: 90px;
	display: flex;
	flex-direction: column;
}

.new_text{
	
	font-size:63px;
	color: #574B4B;
	font-family: 'Coda', cursive;
}

.new_txt{
	color:#574B4B;
	font-family: Work Sans;
	font-size: 15px;
	margin-left: 12%;
}

.new_img{
	margin-top: 2px;
	order: 1;
  
}

.new__top{
	align-items: center;
	order: 2;
	display: flex;
	justify-content: space-between;     
}

.new__slider{
	height: 140px;
width: 140px;
border-radius: 140px;
background: #F55D48;
display: flex;
justify-content: center;
align-items: center;


}

.new__container{
	display: flex;
	flex-direction: column;
	max-width:80%;
	margin: 0 auto;
}

.new_pict{
	display: flex;
	justify-content: center;
	order: 3;
	width: 650px;
	height: 532px;
	align-self: center;
	 max-width: 85%;
}

.new__pict img{
	width: 600px;
	height: 532px;
}

.new_txt3{
	color: #574B4B;
	font-family: Work Sans;
	font-size: 14px;
	order: 4;
	margin-top: 4%;
	max-width: 80%;
	margin-bottom: 78px;
}

.new_pic{
	order: 5;
}





.lights {
	margin-bottom: 90.62px;
}
.lights__container {
	max-width: 80%;
	margin: 0 auto;
	
}
.lights__title {
	margin-bottom: 104px;
	font-family: Coda;
font-size: 63px;
font-weight: 400;
line-height: 83px;
color: #574B4B;
}
.lights__row {
	display: flex;
}
.lights__column {
	border: 1px solid #574B4B;
	border-left: none;
	flex-basis: 33.333%;
}
.lights__column-container {
	padding: 36px;
	display: flex;
	flex-direction: column;
}
.lights__column-numbers {
	margin-bottom: 26px;
	font-family: Coda;
font-size: 31px;
font-weight: 400;
line-height: 42px;
color: #574B4B;
align-self: start;
}
.lights__column-img {

	margin-bottom: 40px;
	border-top: 1px solid #DBD9D9;
	border-bottom: 1px solid #DBD9D9;
	align-self: center;
}
.lights__column-discription {
	text-align: right;
	align-self: end;
	color: #574B4B;
	font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 23px;
max-width: 244px;

}




  .new_pic {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }


  .projects {
	 margin-bottom: 93px;
	  color: #574B4B;
}

.projects__title {
	margin-bottom: 100.4px;
	font-family: Coda;
font-size: 63px;
font-weight: 400;
line-height: 83px;
letter-spacing: 0em;
text-align: left;

}
.projects__content {
	border-bottom: 1px solid  #574B4B;
	display: flex;
	justify-content: space-between;
}
.projects__inner {

max-width: 100%;
	margin-right: 16px; 	

}
.projects__inner-container {
	max-width: 99%;
	border-top: 1px solid #574B4B;	;
	padding:0px 5px  ;
	display: flex;
	justify-content: space-between;
}
.projects__text {
	min-width: 280px;
	padding-top: 27px;
	margin-right: 66px;
}
.projects__titles {

}
.projects__titles-title {

	margin-bottom: 46px;
	font-family: Coda;
font-size: 31px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
text-align: left;

}
.projects__titles-subtitle {
	font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}
.projects__arrow {
	position: relative;
	top: 327px;
	width: 64px;
	height: 64px;

}
.projects__img {
}
.projects__outer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.projects__outer-arrow:last-child {
	width: 64px;
	align-self: end;
	height: 64px;
}

.office {
	margin-bottom: 93px;
}
._container {
}
.office__row {
	display: flex;
	flex-direction: column;
}
.office__title {
	margin-bottom: 104px;	
	font-family: Coda;
font-size: 63px;
font-weight: 400;
line-height: 83px;
letter-spacing: 0em;
text-align: left;

}
.office__inner {

	border-top: 1px solid #574B4B;
max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.office__inner-content {
	border-bottom: 1px solid #574B4B;
max-width: 1200px;
margin-right: -50px;
margin-left: -50px;
	display: flex;
	align-items: end;
}
.office__arrow-l {
	padding-right: 50px;
	width: 64px;
	height: 64px;
}
.office__img {
	

}
.office__arrow-r {
	padding-left: 50px;
	width: 64px;
	height: 64px;

}


.together__contaier{
	max-width: 90%;
}

.together {
}
._container {
}
.together__title {
	padding-left: 30px;
	margin-bottom: 100px;
	font-family: Coda;
font-size: 64px;
font-weight: 400;
line-height: 83px;
letter-spacing: 0em;
text-align: left;

}
.together__content {
	display: flex;
	border-top: 1px solid #574B4B;
	border-bottom: 1px solid #574B4B;
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 90%;	
}
.together__inner {
	padding: 30px 0px;
	margin-right: 276px;
}
.together__firstp {
}
.together__p {
	font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
max-width:670px ;
}
.together__img {
	padding:63px 0px ;
}
.together__lastp {
}
.together__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 140px;
	background: #F55D48;
	border-radius: 50%;
}